* {
    box-sizing: border-box;
}

:root {
    --primary-color-: #2e80ce;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
/* =============== COMMON =============== */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    min-width: calc(100% - 270px);
    margin: 0 auto;
}

.circle {
    display: inline-block;
    width: var(--diameter-, 60px);
    height: var(--diameter-, 60px);
    border-radius: 50%;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 205px;
    height: 60px;
    border-radius: 30px;
    background: var(--primary-color-);
    border-color: transparent;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
    cursor: pointer;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.1rem;
}

.section-desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 166.667%;
}

.body-text {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 175%;
}
/* =============== HEADER =============== */
.header {
    padding-top: 30px;
    background: #10375c;
    min-height: 100vh;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 0.6rem;
    font-size: 1rem;
}

.logo__icon {
    position: relative;
}

.logo__icon--part-1 {
    --diameter-: 3em;
    background: var(--primary-color-);
}

.logo__icon--part-2 {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    --diameter-: 1.6em;
    background: #fff;
}

.logo__name {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.logo__text {
    color: #fff;
    text-align: right;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 77.778%;
}

.logo__text--small {
    font-size: 1.2em;
    font-weight: 300;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link,
.log-in-btn {
    padding: 4px 21px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 175%;
}

.nav__active,
.nav__link:hover,
.log-in-btn:hover {
    color: #fff;
    text-shadow: 1px 0 currentColor;
}

.nav__active {
    position: relative;
    display: flex;
    align-items: center;
}

.nav__active::before {
    position: absolute;
    left: 7px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.header-action {
    display: flex;
    align-items: center;
    gap: 7px;
}

.sign-up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 104px;
    height: 44px;
    border-radius: 22px;
    background: var(--primary-color-);
    border-color: transparent;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
}

.sign-up-btn:hover {
    opacity: 0.9;
}
/* =============== HERO =============== */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
}

.hero__media {
    flex: 1;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 114.286%;
    letter-spacing: -0.14rem;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 166.667%;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}

.hero__phone {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

.hero_images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}
/* =============== SERVICES =============== */
.services {
    margin-top: 130px;
}

.services__heading {
    text-align: center;
}

.services__desc {
    display: block;
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.services__content {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.services-item {
    display: flex;
    gap: 19px;
    background: #fff;
    width: 470px;
    padding: 21px 61px 20px 22px;
    transition: 0.25s;
}

.services-item:hover {
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    --diameter-: 60px;
    background: #eff6fd;
    flex-shrink: 0;
    transition: 0.25s;
}

.services-item:hover .services-item__icon {
    background: var(--primary-color-);
    color: #fff;
}

.services-item__heading {
    margin-bottom: 8px;
    color: #10375c;
    font-size: 1.8;
    font-weight: 600;
}

.services__btn {
    margin-top: 55px;
}
/* =============== WORKS =============== */
.works {
    margin-top: 170px;
    padding: 100px 0;
    background: #f6fbff;
}

.works__desc {
    width: 468px;
}

.works__list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.works-item {
    width: 370px;
    padding: 42px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 16px solid #eaf6ff;
    transition: 0.25s;
}

.works-item:hover {
    border-color: #2e80ce;
    transform: translateY(-16px);
}

.works-item__heading {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 138.462%;
}

.works-item__desc {
    margin-top: 28px;
}

.works-item__more {
    margin-top: 18px;
    color: #2e80ce;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;
}
